@import '../../variable.scss';
@import '../../responsive.scss';
@import '../../components/button.scss';

@mixin navbar-style {
  z-index: 99;
  transition: all 0.3s ease;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    transition: $smooth;

    .nav-container {
      padding: 0 20px;
      max-width: 1300px;

      .nav-list {
        position: relative;
        padding: 0;
        margin: 0;
        gap: 15px;
      }
    }
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 20px 0;

    @include sm {
      justify-content: space-between;
      align-items: start;
      padding: 20px;
    }

    .top {
      @include sm {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: auto;
        justify-content: space-between !important;
      }

      .nav-mobile {
        font-weight: 700;
        font-size: 2rem;
      }
    }

    .nav-mobile {
      display: none;
      cursor: pointer;

      @include sm {
        display: block;
      }
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      @include sm {
        margin: auto;
        background-color: #fff;
      }

      .nav-list {
        display: flex;
        align-items: center;
        gap: 20px;
        color: $secondary-color;
        font-weight: 700;
        text-transform: uppercase;
        transition: $smooth;

        @include sm {
          flex-direction: column;
          display: none;
          position: absolute;
          z-index: 99;
          width: 400px;
          margin-top: auto;
          margin-right: -40px !important;
          align-items: start;
          padding: 20px;
          background-color: #fff;
          transform: translateX(-50vw) translateY(10vw);
          text-transform: none;
          transition: $smooth;

          &.open {
            transition: $smooth;
            display: flex;
            align-items: flex-start;
          }

          li {
            padding: 10px 0;
            width: 100%;
            border-bottom: 1px solid rgba($secondary-color, 0.3);
          }

          .nav-search {
            display: none;
          }

          .btn {
            display: none;
          }
        }

        li {
          position: relative;
          transition: $smooth;
          text-align: left;

          &:hover,
          &:hover > .nav-dropdown,
          .nav-dropdown:hover {
            z-index: 99;

            .nav-dropdown {
              padding: 30px 15px 20px 10px !important;
              width: 150px;
              display: flex;
              opacity: 1;
              visibility: visible;
              transform: translateY(0) translateX(-10px);
            }
          }

          a {
            transition: $smooth;

            &:after {
              content: '';
              display: block;
              width: 0;
              height: 2px;
              background: $primary-color;
              transition: width .3s;
            }

            &:hover {
              color: $primary-color;
            }

            &:hover::after {
              width: 30%;
            }
          }
        }

        .nav-dropdown {
          position: absolute;
          top: 100%;
          left: 0;
          background-color: $white;
          flex-direction: column;
          gap: 20px;
          opacity: 0;
          visibility: hidden;
          transform: translateY(20px);
          transition: opacity $smooth, visibility $smooth, transform $smooth;

          li {
            a {
              text-align: left;
            }
          }
        }

        .nav-search {
          button {
            background: none;
            border: none;

            i {
              background: none;
            }
          }

          input {
            border: none;
            padding: 10px;

            &:focus {
              outline: none;
              border: none;
            }
          }

          position: relative;

          &::after {
            content: '';
            position: absolute;
            left: 25px;
            bottom: -2px;
            width: 60%;
            height: 1px;
            background-color: rgba($secondary-color, 0.5);
            transition: background-color 0.3s ease-in-out;
          }
        }

        .btn {
          button {
            background: none;
            border: none;
            @include button-primary;
          }
        }
      }
    }
  }
}
