@import '../../variable.scss';
@import '../../responsive.scss';
@import '../../components/section-title.scss';


@mixin portfolio-area-style{
    max-width: 1320px;
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
    padding: 20px 40px;
  
  
  
    @include sm{
      padding: 20px 20px;
  
    }

    .container{

        .portfolio-section-title{
            @include section-title-style;
        }
    }
}