@import "./responsive.scss";
@import './sections/top/navbar.scss';
@import './layout.scss';
@import './variable.scss';
@import './components/button.scss';
@import './components/loader.scss';
@import './sections/top/top-header-area.scss';
@import './sections/mid-content/top-banner-area.scss';
@import './sections/mid-content/feature-area.scss';
@import './sections/mid-content/about-area.scss';
@import './sections/mid-content/service-area.scss';
@import './sections/mid-content/portfolio-area.scss';
@import './sections/mid-content/pricing-area.scss';
@import './sections/mid-content/team-area.scss';
@import './sections/mid-content/testimonial-area.scss';
@import './sections/mid-content/faq-area.scss';
@import './sections/mid-content/blog-area.scss';
@import './sections/mid-content/partner-area.scss';





@import '~@fortawesome/fontawesome-free/css/all.css';

html, body {
  @include layout;
}



// preloader

.preloader {
   @include loader;
}

// end-preloader

//top header starts
.top-header-area {
 @include top-header-style;
}
//to header ends


//navbar starts
.navigation{
  @include navbar-style;
}

//navbar ends 


// banner start
.banner-area {
 @include top-banner-style;
}

//banner ends


//featuers starts


.features-area {
 @include feature-area-style;
}



.helper {
  //position: relative;
  width: 100%;
  height: 1100px;

  //background: #f0f0f0;
  //overflow: hidden; // Hide any overflowing content
  @include sm {
    position: relative;
    height: 150rem;
  }
}

.features-area {
  // position: relative;
  transition: transform 0.5s;
}

//about area stars

.about {
  @include about-area-style;
}



.services-area {
  @include services-area-style;
}

.portfolio{
  @include portfolio-area-style;
}

//pricing area

.pricing-area{
  @include pricing-area-style;
}

//team area

.team-area{
  @include team-area-style;
}

//testimonial area

.testimonial-area{
  @include testimonial-area-style;
}

//faq-area

.faq-area{
  @include faq-area-style;
}

//blog area
.blog-area{
  @include blog-area-style;
}

//partner-area

.partner-area{
  @include partner-area-style;
}